/* index.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* GLOBAL DARK MODE */
body {
  background-color: #0e0e0e;
  color: #ffffff;

  /* UNIVERSAL MONOSPACE */
  font-family: monospace;

  line-height: 1.6;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
